/* Oh Hi There */
/* Good Day For ya! */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
  font-family: "Lexend", sans-serif;
  -webkit-transition: height 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1), width 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1);
  transition: height 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1), width 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1);
}

/* No scrolling on MY BODY */
html {
  height: 100vh;
  width: 100vw;
  -webkit-transition: height 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1);
  transition: height 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1);
}

body {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #151515;
  -webkit-transition: all 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.phone {
  background: #d6e1ec;
  color: #01144e;
  font-size: 1.8rem;
  font-weight: 900;
  padding: 30px;
  text-align: center;
  position: fixed;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 20px #00000050;
          box-shadow: 10px 10px 20px #00000050;
  width: 90vw;
  height: 90vh;
  z-index: 99;
  margin-top: 5vh;
}

nav {
  width: 5vw;
  height: 100vh;
  position: fixed;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 4vh;
  left: 0;
  bottom: 0;
  -webkit-transition: height 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1);
  transition: height 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1);
}

#NAV-dots {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

#NAV-dots .dot {
  height: 4vh;
  width: 100%;
  padding-left: 1vw;
  cursor: pointer;
}

#NAV-dots .dot div {
  background: #e9e7e7;
  width: 10px;
  height: 10px;
  border-radius: 7px;
  -webkit-transition: all 0.6s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.6s cubic-bezier(0.25, 0, 0, 1);
  border: 1px solid #e9e7e7;
}

#NAV-dots .dot:hover div {
  background: transparent;
}

#NAV-dots .dot:nth-child(1) div {
  width: 3vw;
  /*Reset On Page Reload*/
}

/* Container - Scroll Part*/
.container {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: height 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1), width 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1), -webkit-transform 0.6s cubic-bezier(0.25, 0, 0, 1);
  transition: height 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1), width 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1), -webkit-transform 0.6s cubic-bezier(0.25, 0, 0, 1);
  transition: transform 0.6s cubic-bezier(0.25, 0, 0, 1), height 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1), width 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1);
  transition: transform 0.6s cubic-bezier(0.25, 0, 0, 1), height 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1), width 0.8s 0.2s cubic-bezier(0.25, 0, 0, 1), -webkit-transform 0.6s cubic-bezier(0.25, 0, 0, 1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section1 .overlay {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 100% 20%, #056aa000 0%, #01144e 99%);
  position: absolute;
  pointer-events: none;
  right: 0;
  bottom: 0;
}

#line {
  height: 1px;
  background: #e9e7e7;
}

.title_box {
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #e9e7e7;
  position: absolute;
  left: 0;
  z-index: 2;
  padding-left: 7vw;
  padding-top: 35vh;
}

.title_box h1 {
  font-weight: 900;
  font-size: 2.6rem;
  line-height: 3.5rem;
  position: relative;
}

.title_box h1 span {
  font-weight: 200;
  font-size: 0.9rem;
  line-height: 1rem;
  position: absolute;
  bottom: -5vh;
  right: 10vw;
  letter-spacing: 0.1vw;
}

.title_box h1 strong {
  font-weight: 900;
  font-size: 3.3rem;
}

.title_box p {
  margin-top: 11vh;
  font-weight: 400;
}

.title_box #line {
  margin-top: 3vh;
  width: 3vw;
  height: 3px;
}

.artwork {
  width: 100vw;
  height: 100%;
  position: absolute;
  overflow: visible;
  right: 0;
}

.artwork_svg {
  width: auto;
  height: 100vh;
  overflow: visible;
  position: absolute;
  right: -5vw;
}

.artwork_svg g,
.artwork_svg path {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

#section2 {
  background-color: #e9eef8;
  background: radial-gradient(circle at 100% 80%, #e9eef8 0%, #01144e 99%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  z-index: 2;
}

#section2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: visible;
  pointer-events: none;
}

#section2 .holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

#section2 .circle {
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
}

#section2 .top_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4vw;
}

#section2 .conlumn {
  width: 16vw;
  height: 42vh;
  background: #d6e1ec;
  border-radius: 1.5vw;
  padding: 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #01144e;
}

#front {
  opacity: 40%;
}

#front .circle:nth-child(1) {
  width: 30vw;
  background: #e9eef8;
  left: 3vw;
  bottom: -30vh;
  -webkit-filter: blur(3vw);
          filter: blur(3vw);
}

#front .circle:nth-child(2) {
  width: 20vw;
  background: #01144e;
  right: -13vw;
  top: 5vh;
  -webkit-filter: blur(3vw);
          filter: blur(3vw);
}

#mid {
  opacity: 40%;
}

#mid .circle:nth-child(1) {
  width: 13vw;
  background: #01144e;
  right: 13vw;
  bottom: 15vh;
  -webkit-filter: blur(3vw);
          filter: blur(3vw);
}

#mid .circle:nth-child(2) {
  width: 5vw;
  background: #e9eef8;
  left: 15vw;
  top: 45vh;
  -webkit-filter: blur(3vw);
          filter: blur(3vw);
}

#back {
  opacity: 40%;
}

#back .circle:nth-child(1) {
  width: 10vw;
  background: #e9eef8;
  left: 3vw;
  top: 10vh;
  -webkit-filter: blur(3vw);
          filter: blur(3vw);
}

#back .circle:nth-child(2) {
  width: 5vw;
  background: #01144e;
  right: 40vw;
  top: 5vh;
  -webkit-filter: blur(3vw);
          filter: blur(3vw);
}

#back .circle:nth-child(3) {
  width: 7vw;
  background: #01144e;
  right: 13vw;
  top: 15vh;
  -webkit-filter: blur(13vw);
          filter: blur(13vw);
}

.lazy_pic {
  background-image: url(../Vectors/Lazy.svg);
  width: 10vw;
  height: 5vw;
  background-repeat: no-repeat;
  background-position: center;
}

.people_pic {
  background-image: url(../Vectors/3people.svg);
  width: 15vw;
  height: 10vw;
  background-repeat: no-repeat;
  background-position: center;
}

.first_line {
  width: 38%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: center;
  color: white;
  z-index: 2;
}

.first_line h1 {
  font-weight: 900;
  font-size: 2rem;
  color: #e9eef8;
}

.first_line p {
  margin-top: 3vh;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first_line span {
  height: auto;
  margin-bottom: 12px;
}

#section3 {
  background: radial-gradient(circle at 100% 20%, #e9eef8 0%, #01144e 99%);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 7vw;
  padding-right: 5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2vw;
  position: relative;
}

#section3 h4 {
  position: absolute;
  bottom: 2vh;
  font-size: 0.8rem;
  color: #d6e1ec;
  font-weight: 400;
}

.member {
  height: 80vh;
  width: 20%;
  border-radius: 1.5vw;
  overflow: hidden;
  z-index: 3;
  position: relative;
  background: #d6e1ec;
  -webkit-box-shadow: 1vw 1vw 3vw #00000050;
          box-shadow: 1vw 1vw 3vw #00000050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.member:hover {
  width: 35%;
}

.member_avt {
  width: 100%;
  height: 25vh;
  z-index: 4;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -11vh;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.member_avt h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -2vh;
  z-index: 6;
  font-size: 2.7rem;
  font-weight: 900;
}

.member_avt::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#d6e1ec), to(#d6e1ec00));
  background: linear-gradient(to top, #d6e1ec, #d6e1ec00);
  z-index: 5;
}

.member_avt::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #d6e1ec;
  z-index: 5;
  opacity: 0%;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.member:hover .member_avt {
  height: 10vh;
}

.member:hover .member_avt::before {
  opacity: 100%;
}

.member_status {
  width: 100%;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15vh;
  padding-bottom: 10vh;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.number {
  width: 62%;
  height: 30vh;
  /*  
  aspect-ratio: 1;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  gap: 2vh;
}

.number h2 {
  font-size: 2.6rem;
  font-weight: 600;
}

.number h3 {
  font-size: 0.9rem;
  font-weight: 600;
}

.number #arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.number #arrow_svg {
  width: 15%;
  aspect-ratio: 2.2;
  overflow: visible;
  margin-left: 0.5vw;
}

.number .arr-1 {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5vw;
}

.number .column_holder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  gap: 1vw;
}

.number .column_holder h3 {
  width: 50%;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
}

.number .column {
  width: 50%;
  border-radius: 1vw;
  background: #01144e;
}

#graph {
  height: 25vh;
}

#before {
  opacity: 50%;
}

#after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d6e1ec;
  font-size: 0.9rem;
  padding: 0.3vw;
}

#descriptions {
  width: 10rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#des1 {
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 100%;
  pointer-events: none;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

#des2 {
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  width: 140%;
  height: auto;
  opacity: 0%;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.member:hover #des1 {
  opacity: 0%;
}

.member:hover #des2 {
  opacity: 100%;
}

#m1 {
  color: #0e96cf;
}

#m1 .member_avt {
  background-color: #64bfe6;
  background-image: url(../Vectors/T.svg);
  background-repeat: no-repeat;
  background-size: 145%;
  background-position: 40% 0;
}

#m1 #avt2 {
  height: 0;
}

#m1 .arr-1 {
  stroke: #0e96cf;
}

#m1 .number {
  border-color: #0e96cf;
}

#m1 #before {
  height: 75%;
  background: #0e96cf;
}

#m1 #after {
  height: 80%;
  background: #0e96cf;
}

#m2 {
  color: #d24f50;
}

#m2 .member_avt {
  background-color: #d24f50;
  background-image: url(../Vectors/C.svg);
  background-repeat: no-repeat;
  background-size: 145%;
  background-position: 40% 0;
}

#m2 #avt2 {
  height: 0;
}

#m2 .arr-1 {
  stroke: #d24f50;
}

#m2 .number {
  border-color: #d24f50;
}

#m2 #before {
  height: 50%;
  background: #d24f50;
}

#m2 #after {
  height: 85%;
  background: #d24f50;
}

#m3 {
  color: #cc614a;
}

#m3 .member_avt {
  background-color: #cc614a;
  background-image: url(../Vectors/U.svg);
  background-repeat: no-repeat;
  background-size: 145%;
  background-position: 40% 0;
}

#m3 #avt2 {
  height: 0;
}

#m3 .arr-1 {
  stroke: #cc614a;
}

#m3 .number {
  border-color: #cc614a;
}

#m3 #before {
  height: 65%;
  background: #cc614a;
}

#m3 #after {
  height: 60%;
  background: #cc614a;
}

#m4 {
  color: #12928e;
}

#m4 .member_avt {
  background-color: #12928e;
  background-image: url(../Vectors/X.svg);
  background-repeat: no-repeat;
  background-size: 145%;
  background-position: 40% 0;
}

#m4 #avt2 {
  height: 0;
}

#m4 .arr-1 {
  stroke: #12928e;
}

#m4 .number {
  border-color: #12928e;
}

#m4 #before {
  height: 65%;
  background: #12928e;
}

#m4 #after {
  height: 80%;
  background: #12928e;
}

#m5 {
  color: #f09100;
}

#m5 .member_avt {
  background-color: #f8ae3c;
  background-image: url(../Vectors/D.svg);
  background-repeat: no-repeat;
  background-size: 165%;
  background-position: 50% 20%;
}

#m5 #avt2 {
  height: 0;
}

#m5 .arr-1 {
  stroke: #f09100;
}

#m5 .number {
  border-color: #f09100;
}

#m5 #before {
  height: 80%;
  background: #f09100;
}

#m5 #after {
  height: 95%;
  background: #f09100;
  color: white;
}

.member:hover #m1 .member_avt,
.member:hover #m2 .member_avt,
.member:hover #m3 .member_avt,
.member:hover #m4 .member_avt,
.member:hover #m5 .member_avt {
  background-position: 50% 50%;
}

#section4 {
  background: radial-gradient(circle at 100% 80%, #e9eef8 0%, #01144e 99%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #e9eef8;
}

#section4 h2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e9eef8), to(#ffffff));
  background: linear-gradient(to right, #e9eef8 50%, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.2rem;
  font-weight: 900;
  text-align: center;
}

#section4 span {
  margin-bottom: 12px;
}

#section4 .row {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2vw;
}

#section4 .item {
  width: 22vw;
  height: 50vh;
  background: #d6e1ec;
  border-radius: 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 2vw;
  padding: 1.5vw;
}

#section4 .item p {
  color: #01144e;
  text-align: center;
}

#section4 .item .item_pic {
  width: 70%;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#section4 .item .item_pic:nth-child(1) {
  background-image: url(../Vectors/Brain.svg);
}

#section4 .item #Ipic2 {
  background-image: url(../Vectors/Bed.svg);
}

#section5 {
  background: radial-gradient(circle at 100% 20%, #e9eef8 0%, #01144e 99%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  color: #e9eef8;
  padding-top: 7vh;
  padding-bottom: 10vh;
  padding-left: 7vw;
  padding-right: 5vw;
  gap: 5vh;
}

#section5 h1 {
  width: 100%;
  font-size: 2.6rem;
  line-height: 2.5rem;
  font-weight: 900;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section5 span {
  position: absolute;
  bottom: 2vh;
  font-size: 0.8rem;
  color: #d6e1ec;
  font-weight: 400;
}

#section5 a {
  color: #d6e1ec;
}

.tips {
  width: 100%;
  height: 30vh;
  background: #d6e1ec;
  border-radius: 1.5vw;
  -webkit-box-shadow: 1vw 1vw 3vw #00000050;
          box-shadow: 1vw 1vw 3vw #00000050;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.tips .tips_contents {
  height: 100%;
  width: 62%;
  padding-left: 4vw;
  padding-top: 1vh;
  padding-bottom: 2vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  color: #01144e;
}

.tips .tips_contents h2 {
  font-weight: 900;
  margin-bottom: 1vh;
}

.tips .tips_contents ul {
  width: 113%;
}

.tips .tips_contents li {
  margin-bottom: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.tips .tips_illus {
  height: 100%;
  width: 38%;
  background: cadetblue;
  position: relative;
}

.tips .tips_illus::after {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(#d6e1ec), to(#d6e1ec00));
  background: linear-gradient(to right, #d6e1ec, #d6e1ec00);
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
}

#toDo .tips_illus {
  background-image: url(../Vectors/do.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 50%;
  background-color: #b6e6fc;
}

#toAvoid .tips_illus {
  background-image: url(../Vectors/avoid.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 50%;
  background-color: #bf614c;
}

.tips:hover {
  height: 45vh;
}

.tips:hover li {
  margin-bottom: 1.5vh;
}

#section6 {
  background: radial-gradient(circle at 100% 80%, #e9eef8 0%, #01144e 99%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-left: 14vw;
  padding-right: 5vw;
}

.cat_watching {
  background-color: white;
  background-image: url(../Images/tenor.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  border-radius: 50%;
  width: 38%;
  aspect-ratio: 1;
  margin-right: 8vw;
}

.say_goodbye {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  height: 100%;
  color: #e9eef8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.say_goodbye #line {
  width: 5vw;
  height: 3px;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.say_goodbye .thanks {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 11vh;
}

.say_goodbye .thanks h1 {
  font-size: 5.4rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-left: -5px;
}

.say_goodbye form {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2vh;
  margin-top: 5vh;
  position: relative;
}

.say_goodbye form h3 {
  font-size: 0.72rem;
  font-weight: 400;
  margin-bottom: 1vh;
}

.say_goodbye form input,
.say_goodbye form textarea {
  width: 360px;
  height: 36px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #d6e1ec;
  color: #01144e;
  padding-left: 10px;
  padding-right: 3px;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
  transition: all 0.8s cubic-bezier(0.25, 0, 0, 1);
}

.say_goodbye form textarea {
  height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.say_goodbye form button {
  width: 90px;
  height: 30px;
  background: #d6e1ec;
  outline: none;
  color: #01144e;
  border: none;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
  position: relative;
  margin-left: 360px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.say_goodbye form button:hover {
  background: #01144e;
  color: #d6e1ec;
}

.say_goodbye form input:focus,
.say_goodbye form textarea:focus,
.say_goodbye form input:valid,
.say_goodbye form textarea:valid,
.say_goodbye form input:hover,
.say_goodbye form textarea:hover {
  background: #abd0f1;
}
/*# sourceMappingURL=styles.css.map */